<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/quemsomos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="../Scripts/teste.js" defer></script>
    <script src="../Scripts/login.js" defer></script>
    <title>Loja Uzumaki</title>
</head>

<body onload="iniciarDados()">

    <header class="header">
        <a href="index.html">
            <img src="/Uzumaki/Sources/logo.png" alt="Logo" class="logo">
        </a>
        </div>
        <div class="links">

                <a href="carrinho.html">
                        <i class="fa-solid fa-cart-shopping"></i>
                </a>

        </div>
    </header>

    <main class="conteudo">
        <div class="banner">
            <h1 class="">Nossa Equipe</h1>
            <p class="">Essa é nossa eqipe, sem eles esse projeto da Loja Uzumaki não seria possivel!</p>
        </div>
    </main>

    <footer>
        <p>&copy; Loja Uzumaki</p>
    </footer>
</body>

</html>