<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/index.css">
    <script src="../Scripts/teste.js" defer></script>
    <script src="../Scripts/login.js" defer></script>
    <title>Loja Uzumaki</title>
</head>

<body onload="iniciarDados()">

    <header class="header">
        <a href="index.html">
            <img src="/Uzumaki/Sources/logo.png" alt="Logo" class="logo">
        </a>
        </div>
        <div class="links">

                <a href="index.html" >Página Inicial</a>

                <a class="" href="quemsomos.html" role="button">Quem Somos Nós</a>

        </div>
    </header>

    <main>
        <div class="banner">
            <h1 class="">Loja Uzumaki</h1>
            <p class="">A loja geek favorita do Hokage!</p>
        </div>
    </main>

    <div class="wrapper">

        <div class="left control" id="left">
            <img src="../Sources/angle-left-solid.svg" alt="" draggable="false">
        </div>

        <ul class="carousel">

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

            <li class="card">
                <div class="img">
                    <img src="../Sources/bandana.jpeg" alt="" draggable="false">
                    <span>
                        <h2>Bandana Naruto</h2>
                        <p>R$ 9,99</p>
                    </span>
                </div>
            </li>

        </ul>

        <div class="right control" id="right">
            <img src="../Sources/angle-right-solid.svg" alt="" draggable="false">
        </div>

    </div>
    <footer>
        <p>&copy; Loja Uzumaki</p>
    </footer>
</body>

</html>