body {
    font-family: Arial, sans-serif;
}

.carrossel-container {
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    align-items: center;
}

.carrossel-track {
    display: flex;
    transition: transform 0.3s ease;
}

.produto {
    min-width: 200px;
    margin: 0 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-align: center;
}

.carrossel-button {
    position: absolute;
    top: 50%;
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/* Desing do card */

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 15px;
}

.product-name {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.product-description {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2em;
    color: #e74c3c;
    margin: 0;
}

/*Fim do desing card */
